// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 5%;
$gutter-width           : 3%;
$side-gutter-width      : 3.5%;

$show-grid-backgrounds  : true;

$base-font-size: 16px;
$base-line-height: 24px;

$base: #666666;
$alt: #005498;