/* --Font face icons -- */
/* --Helper Classes -- */
.alignleft {
  @include float(left);
  margin-right: 24px;
}
.alignright {
  @include float(right);
  margin-left: 24px;
}
.aligncenter {
  margin: 0 auto;
  display: block;
}
.hide {
  display: none;
}
/* -- Replaced --*/

img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

video {
	max-width: 100%;
	height: auto;
	
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	//padding-top: 30px;
	height: 0;
	//overflow: hidden;
  @include trailer(1);
}
.audio-player {
  height: 24px;
}

.embed-container iframe,  
.embed-container object,  
.embed-container video,  
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* --Pretty Lists -- */
ul.iconlist {
  margin: 0;
  list-style-type: none;
  li {
    position: relative;
    padding-left: 1.5em;
    .icon {
      position: absolute;
      left: 0;
      top: 0;
      font-size: .8em;
      width: 1em;
    }
  }
}

/* --Drop Caps -- */
.dropcap::first-letter {
    float: left; 
    font-size: 3em;
    line-height: 1em;
    margin-right: .25em;
    @include border-radius(50%);
}
.dropcap-color::first-letter {
  float: left;
  font-size: 2em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  @include border-radius(1em);
  text-align: center;
  margin-right: .5em;
}
/* --Styled paragraphs -- */
.info {
  @include styled(#D7E7F5);
}
.success {
  @include styled(#E2F2CE);
}
.error {
  @include styled(#FBE3E4);
}
.notice {
  @include styled(#FFF9CC);
}

/* -- Buttons -- */
button, input[type=submit], input[type=button], .button {
  font-family: Cambria, Georgia, serif;
  border: {
    style: solid;
    width: 1px; 
  };
  $sb-padding: 0.28571429em 1em;
  @include sassy-button("simple", 1.125em, 0.875em, #666, #333, #fff, "raised");
  line-height: 1.71428571em;
  margin: 0 0 1em 0;
  &.large {
    font-size: 1.313em;
    line-height: 2.28571429em;
    margin-bottom: 1.04761905em;
    padding: 0 1em;
  }
}

/* --Tabs -- */
ul.tabs { 
  @include pie-clearfix;
  margin-left: 0;
	display: block;
	@include trailing-border(1px, 0);
  margin-bottom: 0;
}
ul.tabs li { 
	display: block;
	width: auto;
	padding: 0;
	float: left;
	margin-bottom: 0; 
	height: $base-line-height;
}
ul.tabs li a { 
	display: block; 
	text-decoration: none;
  outline: none;
	width: auto; 
	padding: 0px 20px; 
	@include apply-side-rhythm-border(top, 1px, 0);
	@include apply-side-rhythm-border(left, 1px, 0);
	margin: 0;  
	background: lighten($base, 50);
  @include transition(all .2s);
}
ul.tabs li a.active { 
	background: #fff; 
	position: relative;	
	top: -4px;
	padding-top: 4px;
	@include apply-side-rhythm-border(right, 1px, 0);
	margin: 0 -1px 0 0;
  *zoom:1;
	@include border-top-left-radius(2px);
	@include border-top-right-radius(2px);
  @include box-shadow(rgba(0, 0, 0, .5) 0px 0px 2px);
}
ul.tabs li:first-child a {
	@include border-top-left-radius(2px);
}
ul.tabs li:last-child a {
	@include apply-side-rhythm-border(right, 1px, 0);
	@include border-top-right-radius(2px);
}
ul.tabs-content {
  position: relative;
  border-left-width: 1px;
  border-right-width: 1px; 
  margin-left: 0;
  margin-bottom: 1.4375em;
  display: block; 
  @include padding-leader(1);
  padding-left: 1em;
  padding-right: 1em;
  @include trailing-border(1px);
	@include transition(all, 2s);
}
ul.tabs-content > li { 
  display:none; 
  list-style-type: none;
}
ul.tabs-content > li.active { 
  display: block; 
}
/* --Accordion -- */
.accordion { 
  @include trailing-border(1px, 0, 16px);
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0 0 1.4375em 0; 
  padding: 0; 
  overflow: hidden;
}
.accordion li {
  list-style-type: none;
}
.accordion li header { 
  @include leading-border(1px, .5, 16px);
  @include trailer(.5, 16px, padding);
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: normal;
  cursor: pointer;  
  @include transition(all .2s);
  a {
    text-decoration: none;
  }
  &:before {
    font-family: 'websymbols';
    vertical-align: top;
    content: ';';
    display: block;
    float: left;
    margin-right: 12px;
    height: 24px;
    font-size: .8em;
  }
  &.active {
    @include trailing-border(1px, .5, 16px);
  }
  &.active:before {
    content: ':';
  }
}
.accordion .accordion-content { 
  @include leader(1, 16px, padding);
  @include trailer(1, 16px, padding);
  padding-left: 1em;
  padding-right: 1em;
}
.accordion li:last-child .content {
  border-width: 1px;
}

/* --Toggle -- */
details{ 
  margin: 0; 
  padding: 0; 
}
details summary { 
  border: 0 none;
  margin-bottom: 0;
  padding-left: 1em;
  font-style: normal;  
  cursor: pointer;
  @include transition(all .2s);
  a {
    text-decoration: none;
  }
}
details summary::-webkit-details-marker {
  display: none
}
details summary:before, details summary span {
  content: "+"; 
  vertical-align: top;
  display: block;
  float: left;
  margin-right: 12px;
  height: 24px;
  font-size: .8em;
}
details[open] summary:before {
  content: "-";
}
details .contents {
  @include leader(.5, 16px, padding);
  @include trailer(.5, 16px, padding);
  padding-left: 1em;
  padding-right: 1em;
}
/* -- toggles not supported by browsers will be manipulated with jQuery -- */
.no-details {
  details, details[open] {
    summary:before {
      content: none;
    }
  }
}