/* Icon Fonts */
/* based on http://www.justbenicestudio.com/studio/websymbols/ */

@font-face {
  font-family: 'fontawesome';
  src: url('../img/font-icons/fontawesome-webfont.eot');
  src: url('../img/font-icons/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../img/font-icons/fontawesome-webfont.woff') format('woff'),
    url('../img/font-icons/fontawesome-webfont.ttf') format('truetype'),
    url('../img/font-icons/fontawesome-webfont.svg#websymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'websymbols';
  src: url('../img/font-icons/websymbols.eot');
  src: url('../img/font-icons/websymbols.eot?#iefix') format('embedded-opentype'),
    url('../img/font-icons/websymbols.woff') format('woff'),
    url('../img/font-icons/websymbols.ttf') format('truetype'),
    url('../img/font-icons/websymbols.svg#websymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fontawesome {
  font-family: 'fontawesome';
}
.websymbols {
  font-family: 'websymbols';
}
.icon {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  margin-right: .5em;
  vertical-align: top;
}
.icon b {
  font-weight: normal;
}