
@mixin styled($color : #FEFDF0) {
  @if lightness($color) > 50% {
    color: darken($color, 70); }
  @else {
    color: lighten($color, 60);
  }
  border-color: darken($color, 10);
  background: $color;
  @include rhythm-borders;
  @include trailer(1);
}
@mixin menu() {
  position: absolute;
  font-size: 0.875em;
  top: 50%;
  margin-top: -0.75em;
  right: 1.14285714em;
  ul {
    margin-bottom: 0;
    list-style: none;
  }
  li {
    float: left;
    position: relative;
  }
  a {
    display: block;
    text-decoration: none;
    margin-left: $base-line-height;
  }
  ul ul {
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    left: 1.71428571em;
    width: 17.1428571em;
    z-index: 99999;
    background: #fff;
    @include box-shadow(rgba(0,0,0, .3) 0px 2px 5px);
    a {
      padding: .5em 0;
      margin: 0 1.5em;
      width: $base-line-height * 8;
      @include transition(all .2s);
      &:hover {
        text-indent: .75em;
      }
    }
    & li:not(:last-child) a {
      padding-bottom: 0.4375em;
      border-bottom: 0.07142857em solid;
    }
  }
  ul ul ul {
    left: 100%;
    top: 0;
  }
   ul li:hover > ul {
    display: block;
  }
}
@mixin hr-rule( $height: 1px, $color : $base, $font-size: 16px ) {
  height: 1em * $height / $font-size;
  border: 0;
  margin-top: 1em / $font-size * ($base-line-height - $height); 
  margin-bottom: 1em / $font-size * ($base-line-height - $height);
  background: $color;
  clear: both;
}

@mixin baseline-grid-layout {
  background-image:  -webkit-linear-gradient(rgba(0, 0, 255, .1) 1px, transparent 1px);
  background-size: $base-line-height $base-line-height;
  background-position:-1px -1px;  
}

@mixin rgba($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}
@mixin css3-shadow($style) {
  & {
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset)
  }
  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -2;
  }
  @if $style == "lifted" {
    & {
      @include border-radius(4px);
      
    }
    &:before, &:after {
      bottom: 15px;
      left: 10px;
      width: 50%;
      height: 20%;
      max-width: 300px;
      @include box-shadow(0 15px 10px rgba(0, 0, 0, 0.7));
      @include transform(rotate(-3deg));
    }
    &:after {
      right: 10px;
      left: auto;
      @include transform(rotate(3deg));
    }
  }
  @else if $style == "ver-curves" {
    &:before {
      right: 0;
      top: 10px;
      bottom: 10px;
      left: 0;
      @include box-shadow(0 0 15px rgba(0,0,0,0.6));
      webkit-border-radius: 10px / 100px;
      -moz-border-radius: 10px / 100px;
      -ms-border-radius: 10px / 100px;
      -o-border-radius: 10px / 100px;
      border-radius: 10px / 100px;
    }
  } 
  @else if $style == "hor-curves" {
    &:before {
      top: 50%;
      bottom: 0;
      left: 10px;
      right: 10px;
      @include box-shadow(0 0 15px rgba(0,0,0,0.6));
      webkit-border-radius: 100px / 10px;
      -moz-border-radius: 100px / 10px;
      -ms-border-radius: 100px / 10px;
      -o-border-radius: 100px / 10px;
      border-radius: 100px / 10px;
    }
  }
}