//** DEFAULT STYLES **//

// Based heavily on the work of:
// Andy Clarke: http://forabeautifulweb.com/
// Paul Irish & Divya Manian: http://html5boilerplate.com/
// And many others, less directly...

// Typgraphy mixins
@mixin sans-family {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  }

@mixin serif-family {
  font-family: Cambria, Georgia, serif;
}

@mixin monospace-family {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}


/* -- Basic typography classes --*/

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.serif {
  @include serif-family; }

.sans {
  @include sans-family; }

.mono {
  @include monospace-family; }

.caps {
  letter-spacing: 0.1em; }

.allcaps {
  @extend .caps;
  text-transform: uppercase; }

.smallcaps {
  @extend .caps;
  font-variant: small-caps; }

@mixin metatext {
  @include adjust-font-size-to(14px);
  @include trailer(1, 14px);  
  @include serif-family;
  font-style: italic;
}
.metatext {  
    @include metatext;  
  }

/* -- body typography --*/

body {
  @extend .serif;
  color: $base; }

/* -- Selected Text --*/

@mixin accessible-color($background: white) {
  @if lightness($background) >= 65% {
    color: $base; }
  @else {
    color: white; } }

::-moz-selection {
  @include accessible-color($alt);
  background: $alt;
  text-shadow: none; }

::selection {
  @include accessible-color($alt);
  background: $alt;
  text-shadow: none; }

/* -- Links --*/

a {
  &:link, &:visited {
    color: $base; }
  &:link, &:visited, &:hover, &:active {
    outline: none; }
  &:focus, &:hover, &:active {
    color: complement($alt);
    text-decoration: none; }
  &:focus {
    outline: thin dotted; } }

/* -- Headings --*/

h1, h2, h3, h4, h5, h6 {
  @extend .serif;
  }

h1 {
  font-size: 1em * 36px / $base-font-size;
  line-height: 1.334em;
  @include trailer(1, 36px);
}

h2 {
  @include adjust-font-size-to(24px, 2);
  @include trailer(1, 24px);
  text-transform: uppercase;
}
h3 {
  @include adjust-font-size-to(21px, 1);
  @include trailer(1, 21px);
 }

h4 {
  @include adjust-font-size-to(18px, 1);
  @include trailer(1, 18px);
  font-weight: bold;
 }

h5 {
  @include adjust-font-size-to(16px, 1);
  @include trailer(1, 16px);
 }

h6 {
  @include adjust-font-size-to(14px, 1);
  @include trailer(1, 14px);
  @extend .smallcaps;
  text-transform: lowercase;
  }

/* -- Inline --*/

cite, em, dfn, address, i {
  font-style: italic; }

strong, dfn, b {
  font-weight: bold; }

sup, sub {
  font-size: smaller;
  line-height: 0; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

mark {
  background: #ffff99;
  background-color: rgba(yellow, 0.5);
  text-shadow: none; }

small {
  @include adjust-font-size-to(12px); }

q {
  font-style: italic;
  em {
    font-style: normal; } }

pre, code, tt {
  @extend .mono; }

/* -- Block --*/

p {
  @include trailer; }

pre {
  margin: $base-rhythm-unit;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

blockquote {
  @include adjust-font-size-to(18px);
  margin-left: $base-rhythm-unit;
  @include serif-family;
  font-style: italic; 
  @include trailer(1, 18px);
  @include apply-side-rhythm-border(left, 1px, 1, 18px, solid);
  &.alignleft {
    margin-left: 0;
    margin-right: $base-rhythm-unit;
    border-left: 0;
    padding-left: 0;
    @include apply-side-rhythm-border(right, 1px, 1, 18px, solid);
    text-align: right;
    width: 50%;
    @include float(left);
  }
  &.alignright {
    width: 50%;
    @include float(right);
  }
  & p {
    margin-bottom: 0;
  }
  footer {
    width: auto;
  }
  }
  
/* -- Horizontal rules -- */
hr {
  @include hr-rule;
}
hr.divider {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  margin: 0;
  border: none;
  line-height: 0;
  width: 100%;
  overflow: hidden;
  background: none;
  background: url(../images/transparent.gif) no-repeat scroll center;
}
/* -- Lists --*/

ol, ul, dl {
  @include trailer;
  margin-left: $base-rhythm-unit; }

ol {
  list-style: decimal; 
}

ul {
  list-style: disc;
  li & {
    list-style-type: circle; } }

dt {
  @include leader;
  font-style: italic; }

dd {
  padding-left: $base-rhythm-unit; }


/* -- Tables --*/

table {
  @include trailer;
  border-left-width: 1px;
  border-right-width: 1px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; 
  @include trailing-border(1px, 0);
}
table, td, th {
  vertical-align: top; 
}

th, thead th {
  font-weight: bold; 
}
th, td {
  padding-left: 1em;
  padding-right: 1em;
}
th, td, caption {
  @include rhythm(0, .5, .5, 0);
  text-align: left;
  font-weight: normal; 
}

th {
  @include trailing-border(1px, 0.5); 
  @include leading-border(1px, .5, 16px, dotted);
  @include transition(all .2s);
}

tfoot {
  @include adjust-font-size-to(14px); 
  td {
    @include rhythm(0, .5, .5, 0, 14px);
    @include transition(all .2s);
    @include leading-border(1px, .5, 14px);
  }
}
@media only screen and (max-width: 767px) {
  table { 
    @include leading-border(1px, 0, 16px);
    @include trailing-border(1px, 0, 16px);
    margin-bottom: 1.375em;
    display: block; 
    position: relative; 
    width: 100%; 
  }
  thead { 
    display: block; 
    float: left; 

  }
  tfoot {
    display: block; 
    float: right;  
    td {
      @include rhythm(0, .5, .5, 0, 14px);
      border-left: 1px solid;
      text-align: right;
    }
  }
  tbody { 
    display: block; 
    width: auto; 
    position: relative; 
    overflow-x: auto; 
    white-space: nowrap; 
  }
  thead tr { 
    display: block; 
  }
  th { 
    display: block; 
    border-bottom: 0;
    border-right: 1px solid;
    @include rhythm(0, .5, .5, 0);
  }
  th:first-child, tfoot td:first-child {
    border-top: 0;
  }
  tbody tr, tfoot tr { 
    display: inline-block; 
    vertical-align: top; 
  }
  td { 
    display: block; 
    min-height: 1.25em; 
  }
}

caption {
  @extend .allcaps; }

/* -- Forms --*/

fieldset {
  @include trailer;
  @include rhythm-borders(1px); }

legend {
  font-weight: bold; }

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline; 
  }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }
input {

}
label {
  font-style: italic;
  display: inline-block;
}
form p {
  overflow: hidden; /* prevents collapsing to maintain vertical rythm in paragraphs with inputs */
}
.textinput {
  @include sans-family;
  @include adjust-font-size-to(14px, 1, 16px);
  @include rhythm-borders(1px, .25, 14px);
  @include trailer(0.5, 14px);
  @include box-sizing(border-box);
  margin-top: 0;
  border-color: $base;
  @include border-radius(2px);
  //height: $base-line-height / 16px * 1.5em; 
  }

.textinput:focus {
  border-color: $alt;
  }
textarea {
  @extend .textinput;
  //height: $base-line-height / 14px * (6.5em - 2*0.071em);
  vertical-align: text-bottom; 
  width: 70%;
  display: block;
  }
select {
  @extend .textinput; 
}
input {
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel], &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time], &[type=number], &[type=range], &[type=search], &[type=color] {
    @extend .textinput; 
  }
  // reset webkit search styles
  &[type=search] {
    -webkit-appearance: none;
    &::-webkit-search-decoration {
      display: none; 
    } 
  } 
}
.bigtext {
  line-height: 1em;
}