// Imports -------------------------------------------------------------------

@import "base";
@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "sassybuttons";
@import "mixins";
/* Reset */
@include global-reset;
/* Main typography */
@import "typography";
@import "extras";
@import "iconfonts";
/* Layout */
@include establish-baseline(16px);
body {
	// @include baseline-grid-layout;
	background-image: url(../img/bg.png);

}
.container {
  @include container;
  // @include susy-grid-background;
  max-width: 1600px;
}
.wrap {
	padding: 1em;
	@include pie-clearfix;
}
/* Header */
#masthead {
	@include trailer(1);
}
#masthead .wrap {
	@include full;
	padding: 0.375em 1em;
	position: relative;
	@include box-shadow(rgba(0,0,0,.4) 0px 0px 1em);
}
#branding {
	img {
		vertical-align: middle;
	}
}
#access {
	@include menu;
}


/* Content */
/* -- Main -- */
#main {
	@include columns(6);
	@include alpha;
	@include trailer(1);
}
/* ---- Article ---- */
#main article {
	@include box-shadow(rgba(0,0,0,.4) 0px 0px 1em);
}
#main article .entry-header {
	position: relative;
	h1, h2 {
		margin-bottom: 0;
		padding-left: 1em;
		margin-right: 3em;
	}
	a {
		text-decoration: none;
	}
	.entry-meta {
		margin-bottom: 0;
	}
	.post-time {
		position: absolute;
		width: 2em;
		height: 3em;
		background: red;
		left: -2em;
		top: 100%;
		margin-top: -1.5em;
		text-align: center;
		z-index: -1;
		b, a {
			display: block;
			font-weight: normal;
		}
		.post-time-date {
			@include adjust-font-size-to(21px, 1);
		}
		.post-time-month {
			@include adjust-font-size-to(12px);
			text-transform: uppercase;
		}
		.post-time-year {
			display: none;
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		margin-top: -0.75em;
		right: 1em;
	}
}
#nav-below .nav-previous, #nav-below .nav-next {
	display: inline-block;
	float: left;
	@include adjust-font-size-to(14px);
}
#nav-below .nav-next {
	text-align: right;
	float: right;
	width: 50%;
}
#main article footer {
	.wrap {
		@include pie-clearfix;	
	}
	.the-meta {
		@include columns(3,6);
	}
	.the-author {
		@include columns(3,6);	
		@include omega(6);
	}
	.author-more {
		margin-bottom: 0;
	}
	#author-avatar {
		float: left;
		margin: 0 .5em .5em 0;
		img { 
			vertical-align: text-top;
		}

	}
}
#main .featured {
	position: relative;
	img {
		vertical-align: bottom;
	}
	figcaption {
		position: absolute;
		display: inline-block;
		bottom: 1.5em;
		padding: 1em 1.5em;
		right: 0;
	}
}

/* -- Secondary -- */
#secondary {
	@include columns(6);
	@include omega;
	background: #fff;
	@include trailer(1);
	@include box-shadow(rgba(0,0,0,.4) 0px 0px 1em);
}
/* ---- Secondary Widgets ---- */
#secondary .widget {
	padding: 0 1em 1em;
	@include pie-clearfix;
}
#secondary h3 {
	background: #000;
	color: #fff;
	padding: 0.57142857em;
	margin-left: -0.76190476em;
	margin-right: -0.76190476em;
}
#secondary ul {
	list-style-type: none;
	margin: 0;
}
#secondary ul li {
	@include columns(2, 6);
}
#secondary ul li:last-child {
	@include omega(6);
}

/* Footer */
#footer {
	@include columns(6);
	@include omega;
	background: #fff;
	@include box-shadow(rgba(0,0,0,.4) 0px 0px 1em);
}
/* ---- Footer Widgets ---- */
#footer .widget {
	padding: 1em;
}

/* Containers and columns */
/* -- Containers and columns -- */
@for $i from 1 through 3 {
  .contains-#{$i} {
    @include pie-clearfix;
    .widget {
      @include columns(6/$i,6);
    }
    .widget:nth-child(#{$i}n) {
      @include omega(6);
    }
    .widget:first-child {
      float: left;
    }
  }
}
@media screen and (max-width: 1280px) {
	#main {
		@include columns(8);
		@include alpha;
	}
	#secondary, #footer {
		@include columns(4);
		@include omega;
	}
}
@media screen and (max-width: 960px) {
	#main, #secondary, #footer {
		@include full;
		@include columns(12);
	}
}