// Imports
@import "base";
@import "compass/typography";
@import "compass/css3";
@import "sassybuttons";
@import "mixins";
@import "extras";

// Colors
$white: #fff;
$gray : #202020;
$lightgray : #505050;

body {
	color: $gray;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "museo-slab", serif;
}
a {
	text-decoration: none;
}
#masthead .wrap {
	background: $gray;
}
#access a {
	color: $white;
	border-color: lighten($gray, 10);
}
#access > ul > li > a {
	font-family: "museo-slab", serif;
	text-transform: uppercase;
}
#access ul ul {
	background: $gray;
	li:not(:last-child) a {
		border-color: lighten($gray, 5);
	}
}

#main article {
	background: $white;
}
#main article .entry-header {
	background: $gray;
	color: $white;
	position: relative;
	.post-time {
		@include rgba($gray, .9);
		font-family: "museo-slab", serif;
		a {
			color: $white;
		}
		
	}
}
#nav-below {
	background: lighten($gray, 10);
	@include text-shadow(#000 0px 1px 0px);
	a {
		color: $white;
	}
}
#main article .entry-utility {
	background: lighten($gray, 78);
	color: darken($gray, 10);
	a {
		color: $lightgray;
	}
}