@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Reset */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Main typography */
/* -- Basic typography classes --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000325}}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000329}}
.serif, body, h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000332}}
.sans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000335}}
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000338}}
.caps, .allcaps, caption, .smallcaps, h6 {
  letter-spacing: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000341}}
.allcaps, caption {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000345}}
.smallcaps, h6 {
  font-variant: small-caps;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000355}}
.metatext {
  font-size: 0.875em;
  line-height: 1.714em;
  margin-bottom: 1.714em;
  font-family: Cambria, Georgia, serif;
  font-style: italic;
}

/* -- body typography --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000361}}
body {
  color: #666666;
}

/* -- Selected Text --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000373}}
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000378}}
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* -- Links --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000386}}
a:link, a:visited {
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000388}}
a:link, a:visited, a:hover, a:active {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000390}}
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\0000393}}
a:focus {
  outline: thin dotted;
}

/* -- Headings --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003102}}
h1 {
  font-size: 2.25em;
  line-height: 1.334em;
  margin-bottom: 0.667em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003108}}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003113}}
h3 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003118}}
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003124}}
h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003129}}
h6 {
  font-size: 0.875em;
  line-height: 1.714em;
  margin-bottom: 1.714em;
  text-transform: lowercase;
}

/* -- Inline --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003138}}
cite, em, dfn, address, i {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003141}}
strong, dfn, b {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003144}}
sup, sub {
  font-size: smaller;
  line-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003148}}
sup {
  vertical-align: super;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003151}}
sub {
  vertical-align: sub;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003154}}
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003158}}
ins {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003161}}
del {
  text-decoration: line-through;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003164}}
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003169}}
small {
  font-size: 0.75em;
  line-height: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003172}}
q {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003174}}
q em {
  font-style: normal;
}

/* -- Block --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003182}}
p {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003185}}
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003192}}
blockquote {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-left: 1.5em;
  font-family: Cambria, Georgia, serif;
  font-style: italic;
  margin-bottom: 1.333em;
  border-left-style: solid;
  border-left-width: 0.056em;
  padding-left: 1.278em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003199}}
blockquote.alignleft {
  margin-left: 0;
  margin-right: 1.5em;
  border-left: 0;
  padding-left: 0;
  border-right-style: solid;
  border-right-width: 0.056em;
  padding-right: 1.278em;
  text-align: right;
  width: 50%;
  display: inline;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003209}}
blockquote.alignright {
  width: 50%;
  display: inline;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003213}}
blockquote p {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003216}}
blockquote footer {
  width: auto;
}

/* -- Horizontal rules -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003222}}
hr {
  height: 0.063em;
  border: 0;
  margin-top: 1.438em;
  margin-bottom: 1.438em;
  background: #666666;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003225}}
hr.divider {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  margin: 0;
  border: none;
  line-height: 0;
  width: 100%;
  overflow: hidden;
  background: none;
  background: url(../images/transparent.gif) no-repeat scroll center;
}

/* -- Lists --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003240}}
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003244}}
ol {
  list-style: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003248}}
ul {
  list-style: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003250}}
li ul {
  list-style-type: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003253}}
dt {
  margin-top: 1.5em;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003257}}
dd {
  padding-left: 1.5em;
}

/* -- Tables --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003263}}
table {
  margin-bottom: 1.5em;
  border-left-width: 1px;
  border-right-width: 1px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003272}}
table, td, th {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003276}}
th, thead th {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003279}}
th, td {
  padding-left: 1em;
  padding-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003283}}
th, td, caption {
  margin-top: 0em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
  text-align: left;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003289}}
th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
  border-top-style: dotted;
  border-top-width: 0.063em;
  padding-top: 0.688em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003295}}
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003297}}
tfoot td {
  margin-top: 0em;
  padding-top: 0.857em;
  padding-bottom: 0.857em;
  margin-bottom: 0em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-top-style: solid;
  border-top-width: 0.071em;
  padding-top: 0.786em;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003304}}
  table {
    border-top-style: solid;
    border-top-width: 0.063em;
    padding-top: -0.063em;
    border-bottom-style: solid;
    border-bottom-width: 0.063em;
    padding-bottom: -0.063em;
    margin-bottom: 1.375em;
    display: block;
    position: relative;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003312}}
  thead {
    display: block;
    float: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003317}}
  tfoot {
    display: block;
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003320}}
  tfoot td {
    margin-top: 0em;
    padding-top: 0.857em;
    padding-bottom: 0.857em;
    margin-bottom: 0em;
    border-left: 1px solid;
    text-align: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003326}}
  tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003333}}
  thead tr {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003336}}
  th {
    display: block;
    border-bottom: 0;
    border-right: 1px solid;
    margin-top: 0em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-bottom: 0em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003342}}
  th:first-child, tfoot td:first-child {
    border-top: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003345}}
  tbody tr, tfoot tr {
    display: inline-block;
    vertical-align: top;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003349}}
  td {
    display: block;
    min-height: 1.25em;
  }
}
/* -- Forms --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003360}}
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003364}}
legend {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003367}}
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003371}}
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003376}}
label {
  font-style: italic;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003380}}
form p {
  overflow: hidden;
  /* prevents collapsing to maintain vertical rythm in paragraphs with inputs */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003383}}
.textinput, textarea, select, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.857em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  border-color: #666666;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003395}}
.textinput:focus, textarea:focus, select:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=month]:focus, input[type=week]:focus, input[type=time]:focus, input[type=number]:focus, input[type=range]:focus, input[type=search]:focus, input[type=color]:focus {
  border-color: #005498;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003398}}
textarea {
  vertical-align: text-bottom;
  width: 70%;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003413}}
input[type=search] {
  -webkit-appearance: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003415}}
input[type=search]::-webkit-search-decoration {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_typography\.scss}line{font-family:\00003420}}
.bigtext {
  line-height: 1em;
}

/* --Font face icons -- */
/* --Helper Classes -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\000033}}
.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\000037}}
.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000311}}
.aligncenter {
  margin: 0 auto;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000315}}
.hide {
  display: none;
}

/* -- Replaced --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000320}}
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000325}}
video {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000330}}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000338}}
.audio-player {
  height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000345}}
.embed-container iframe,
.embed-container object,
.embed-container video,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --Pretty Lists -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000353}}
ul.iconlist {
  margin: 0;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000356}}
ul.iconlist li {
  position: relative;
  padding-left: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000359}}
ul.iconlist li .icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: .8em;
  width: 1em;
}

/* --Drop Caps -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000370}}
.dropcap::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1em;
  margin-right: .25em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000377}}
.dropcap-color::first-letter {
  float: left;
  font-size: 2em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  text-align: center;
  margin-right: .5em;
}

/* --Styled paragraphs -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000388}}
.info {
  color: #153652;
  border-color: #aecfeb;
  background: #d7e7f5;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000391}}
.success {
  color: #304813;
  border-color: #cae7a6;
  background: #e2f2ce;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000394}}
.error {
  color: #6a0f13;
  border-color: #f5b6b9;
  background: #fbe3e4;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000397}}
.notice {
  color: #665a00;
  border-color: #fff399;
  background: #fff9cc;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

/* -- Buttons -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003102}}
button, input[type=submit], input[type=button], .button {
  font-family: Cambria, Georgia, serif;
  border-style: solid;
  border-width: 1px;
  font-size: 0.875em;
  padding: 0.286em 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  -webkit-border-radius: 1.125em;
  -moz-border-radius: 1.125em;
  -ms-border-radius: 1.125em;
  -o-border-radius: 1.125em;
  border-radius: 1.125em;
  background-color: #666666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#666666, #333333);
  background: -moz-linear-gradient(#666666, #333333);
  background: -o-linear-gradient(#666666, #333333);
  background: -ms-linear-gradient(#666666, #333333);
  background: linear-gradient(#666666, #333333);
  -webkit-box-shadow: #8c8c8c 0 1px 0 inset;
  -moz-box-shadow: #8c8c8c 0 1px 0 inset;
  box-shadow: #8c8c8c 0 1px 0 inset;
  border: 1px solid #262626;
  color: white;
  text-shadow: #141414 0 1px 0;
  line-height: 1.71428571em;
  margin: 0 0 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_extensions\/jhardy-Sassy-Buttons-8b3be35\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000328}}
button:hover, input[type=submit]:hover, input[type=button]:hover, .button:hover {
  background-color: #262626;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #595959), color-stop(100%, #262626));
  background: -webkit-linear-gradient(#595959, #262626);
  background: -moz-linear-gradient(#595959, #262626);
  background: -o-linear-gradient(#595959, #262626);
  background: -ms-linear-gradient(#595959, #262626);
  background: linear-gradient(#595959, #262626);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_extensions\/jhardy-Sassy-Buttons-8b3be35\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000331}}
button:active, input[type=submit]:active, input[type=button]:active, .button:active {
  -webkit-box-shadow: #1f1f1f 0 1px 2px inset;
  -moz-box-shadow: #1f1f1f 0 1px 2px inset;
  box-shadow: #1f1f1f 0 1px 2px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003112}}
button.large, input[type=submit].large, input[type=button].large, .button.large {
  font-size: 1.313em;
  line-height: 2.28571429em;
  margin-bottom: 1.04761905em;
  padding: 0 1em;
}

/* --Tabs -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003121}}
ul.tabs {
  *zoom: 1;
  margin-left: 0;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
ul.tabs:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003128}}
ul.tabs li {
  display: block;
  width: auto;
  padding: 0;
  float: left;
  margin-bottom: 0;
  height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003136}}
ul.tabs li a {
  display: block;
  text-decoration: none;
  outline: none;
  width: auto;
  padding: 0px 20px;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: -0.063em;
  border-left-style: solid;
  border-left-width: 0.063em;
  padding-left: -0.063em;
  margin: 0;
  background: #e6e6e6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003148}}
ul.tabs li a.active {
  background: #fff;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-right-style: solid;
  border-right-width: 0.063em;
  padding-right: -0.063em;
  margin: 0 -1px 0 0;
  *zoom: 1;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003160}}
ul.tabs li:first-child a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003163}}
ul.tabs li:last-child a {
  border-right-style: solid;
  border-right-width: 0.063em;
  padding-right: -0.063em;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003167}}
ul.tabs-content {
  position: relative;
  border-left-width: 1px;
  border-right-width: 1px;
  margin-left: 0;
  margin-bottom: 1.4375em;
  display: block;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
  -webkit-transition: all, 2s;
  -moz-transition: all, 2s;
  -ms-transition: all, 2s;
  -o-transition: all, 2s;
  transition: all, 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003180}}
ul.tabs-content > li {
  display: none;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003184}}
ul.tabs-content > li.active {
  display: block;
}

/* --Accordion -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003188}}
.accordion {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0 0 1.4375em 0;
  padding: 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003196}}
.accordion li {
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003199}}
.accordion li header {
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 0.688em;
  padding-bottom: 0.75em;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003208}}
.accordion li header a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003211}}
.accordion li header:before {
  font-family: 'websymbols';
  vertical-align: top;
  content: ';';
  display: block;
  float: left;
  margin-right: 12px;
  height: 24px;
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003221}}
.accordion li header.active {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003224}}
.accordion li header.active:before {
  content: ':';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003228}}
.accordion .accordion-content {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003234}}
.accordion li:last-child .content {
  border-width: 1px;
}

/* --Toggle -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003239}}
details {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003243}}
details summary {
  border: 0 none;
  margin-bottom: 0;
  padding-left: 1em;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003250}}
details summary a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003254}}
details summary::-webkit-details-marker {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003257}}
details summary:before, details summary span {
  content: "+";
  vertical-align: top;
  display: block;
  float: left;
  margin-right: 12px;
  height: 24px;
  font-size: .8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003266}}
details[open] summary:before {
  content: "-";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003269}}
details .contents {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}

/* -- toggles not supported by browsers will be manipulated with jQuery -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003278}}
.no-details details summary:before, .no-details details[open] summary:before {
  content: none;
}

/* Icon Fonts */
/* based on http://www.justbenicestudio.com/studio/websymbols/ */
@font-face {
  font-family: 'fontawesome';
  src: url("../img/font-icons/fontawesome-webfont.eot");
  src: url("../img/font-icons/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../img/font-icons/fontawesome-webfont.woff") format("woff"), url("../img/font-icons/fontawesome-webfont.ttf") format("truetype"), url("../img/font-icons/fontawesome-webfont.svg#websymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'websymbols';
  src: url("../img/font-icons/websymbols.eot");
  src: url("../img/font-icons/websymbols.eot?#iefix") format("embedded-opentype"), url("../img/font-icons/websymbols.woff") format("woff"), url("../img/font-icons/websymbols.ttf") format("truetype"), url("../img/font-icons/websymbols.svg#websymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_iconfonts\.scss}line{font-family:\0000325}}
.fontawesome {
  font-family: 'fontawesome';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_iconfonts\.scss}line{font-family:\0000328}}
.websymbols {
  font-family: 'websymbols';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_iconfonts\.scss}line{font-family:\0000331}}
.icon {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  margin-right: .5em;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_iconfonts\.scss}line{font-family:\0000338}}
.icon b {
  font-weight: normal;
}

/* Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000358}}
body {
  font-size: 100%;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000362}}
html > body {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000317}}
body {
  background-image: url(../img/bg.png);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000322}}
.container {
  *zoom: 1;
  margin: auto;
  width: 100%;
  max-width: 100%;
  max-width: 1600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.container:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000327}}
.wrap {
  padding: 1em;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000332}}
#masthead {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000335}}
#masthead .wrap {
  clear: both;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding: 0.375em 1em;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000342}}
#branding img {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000346}}
#access {
  position: absolute;
  font-size: 0.875em;
  top: 50%;
  margin-top: -0.75em;
  right: 1.14285714em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000319}}
#access ul {
  margin-bottom: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000323}}
#access li {
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000327}}
#access a {
  display: block;
  text-decoration: none;
  margin-left: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000332}}
#access ul ul {
  display: none;
  float: left;
  margin: 0;
  position: absolute;
  left: 1.71428571em;
  width: 17.1428571em;
  z-index: 99999;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000342}}
#access ul ul a {
  padding: .5em 0;
  margin: 0 1.5em;
  width: 192px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000347}}
#access ul ul a:hover {
  text-indent: .75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000351}}
#access ul ul li:not(:last-child) a {
  padding-bottom: 0.4375em;
  border-bottom: 0.07142857em solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000356}}
#access ul ul ul {
  left: 100%;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_mixins\.scss}line{font-family:\0000360}}
#access ul li:hover > ul {
  display: block;
}

/* Content */
/* -- Main -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000353}}
#main {
  display: inline;
  float: left;
  width: 45%;
  margin-right: 3%;
  margin-left: 3.5%;
  margin-bottom: 1.5em;
}

/* ---- Article ---- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000359}}
#main article {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000362}}
#main article .entry-header {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000364}}
#main article .entry-header h1, #main article .entry-header h2 {
  margin-bottom: 0;
  padding-left: 1em;
  margin-right: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000369}}
#main article .entry-header a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000372}}
#main article .entry-header .entry-meta {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000375}}
#main article .entry-header .post-time {
  position: absolute;
  width: 2em;
  height: 3em;
  background: red;
  left: -2em;
  top: 100%;
  margin-top: -1.5em;
  text-align: center;
  z-index: -1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000385}}
#main article .entry-header .post-time b, #main article .entry-header .post-time a {
  display: block;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000389}}
#main article .entry-header .post-time .post-time-date {
  font-size: 1.313em;
  line-height: 1.143em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000392}}
#main article .entry-header .post-time .post-time-month {
  font-size: 0.75em;
  line-height: 2em;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\0000396}}
#main article .entry-header .post-time .post-time-year {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003100}}
#main article .entry-header .icon {
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003107}}
#nav-below .nav-previous, #nav-below .nav-next {
  display: inline-block;
  float: left;
  font-size: 0.875em;
  line-height: 1.714em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003112}}
#nav-below .nav-next {
  text-align: right;
  float: right;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003118}}
#main article footer .wrap {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
#main article footer .wrap:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003121}}
#main article footer .the-meta {
  display: inline;
  float: left;
  width: 46.667%;
  margin-right: 6.667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003124}}
#main article footer .the-author {
  display: inline;
  float: left;
  width: 46.667%;
  margin-right: 6.667%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003128}}
#main article footer .author-more {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003131}}
#main article footer #author-avatar {
  float: left;
  margin: 0 .5em .5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003134}}
#main article footer #author-avatar img {
  vertical-align: text-top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003140}}
#main .featured {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003142}}
#main .featured img {
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003145}}
#main .featured figcaption {
  position: absolute;
  display: inline-block;
  bottom: 1.5em;
  padding: 1em 1.5em;
  right: 0;
}

/* -- Secondary -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003155}}
#secondary {
  display: inline;
  float: left;
  width: 45%;
  margin-right: 3%;
  display: inline;
  float: right;
  margin-right: 3.5%;
  #margin-left: -3%;
  background: #fff;
  margin-bottom: 1.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
}

/* ---- Secondary Widgets ---- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003163}}
#secondary .widget {
  padding: 0 1em 1em;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
#secondary .widget:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003167}}
#secondary h3 {
  background: #000;
  color: #fff;
  padding: 0.57142857em;
  margin-left: -0.762em;
  margin-right: -0.762em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003174}}
#secondary ul {
  list-style-type: none;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003178}}
#secondary ul li {
  display: inline;
  float: left;
  width: 28.889%;
  margin-right: 6.667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003181}}
#secondary ul li:last-child {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -3%;
}

/* Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003186}}
#footer {
  display: inline;
  float: left;
  width: 45%;
  margin-right: 3%;
  display: inline;
  float: right;
  margin-right: 3.5%;
  #margin-left: -3%;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1em;
}

/* ---- Footer Widgets ---- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003193}}
#footer .widget {
  padding: 1em;
}

/* Containers and columns */
/* -- Containers and columns -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003200}}
.contains-1 {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.contains-1:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003202}}
.contains-1 .widget {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 6.667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003205}}
.contains-1 .widget:nth-child(1n) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003208}}
.contains-1 .widget:first-child {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003200}}
.contains-2 {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.contains-2:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003202}}
.contains-2 .widget {
  display: inline;
  float: left;
  width: 46.667%;
  margin-right: 6.667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003205}}
.contains-2 .widget:nth-child(2n) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003208}}
.contains-2 .widget:first-child {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003200}}
.contains-3 {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.contains-3:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003202}}
.contains-3 .widget {
  display: inline;
  float: left;
  width: 28.889%;
  margin-right: 6.667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003205}}
.contains-3 .widget:nth-child(3n) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003208}}
.contains-3 .widget:first-child {
  float: left;
}

@media screen and (max-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003214}}
  #main {
    display: inline;
    float: left;
    width: 61%;
    margin-right: 3%;
    margin-left: 3.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003218}}
  #secondary, #footer {
    display: inline;
    float: left;
    width: 29.0%;
    margin-right: 3%;
    display: inline;
    float: right;
    margin-right: 3.5%;
    #margin-left: -3%;
  }
}
@media screen and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/screen\.scss}line{font-family:\00003224}}
  #main, #secondary, #footer {
    clear: both;
    margin-left: 3.5%;
    margin-right: 3.5%;
    display: inline;
    float: left;
    width: 93%;
    margin-right: 3%;
  }
}
