/* --Font face icons -- */
/* --Helper Classes -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\000033}}
.alignleft {
  display: inline;
  float: left;
  margin-right: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\000037}}
.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000311}}
.aligncenter {
  margin: 0 auto;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000315}}
.hide {
  display: none;
}

/* -- Replaced --*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000320}}
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000325}}
video {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000330}}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000338}}
.audio-player {
  height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000345}}
.embed-container iframe,
.embed-container object,
.embed-container video,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --Pretty Lists -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000353}}
ul.iconlist {
  margin: 0;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000356}}
ul.iconlist li {
  position: relative;
  padding-left: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000359}}
ul.iconlist li .icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: .8em;
  width: 1em;
}

/* --Drop Caps -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000370}}
.dropcap::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1em;
  margin-right: .25em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000377}}
.dropcap-color::first-letter {
  float: left;
  font-size: 2em;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  text-align: center;
  margin-right: .5em;
}

/* --Styled paragraphs -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000388}}
.info {
  color: #153652;
  border-color: #aecfeb;
  background: #d7e7f5;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000391}}
.success {
  color: #304813;
  border-color: #cae7a6;
  background: #e2f2ce;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000394}}
.error {
  color: #6a0f13;
  border-color: #f5b6b9;
  background: #fbe3e4;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\0000397}}
.notice {
  color: #665a00;
  border-color: #fff399;
  background: #fff9cc;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}

/* -- Buttons -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003102}}
button, input[type=submit], input[type=button], .button {
  font-family: Cambria, Georgia, serif;
  border-style: solid;
  border-width: 1px;
  font-size: 0.875em;
  padding: 0.286em 1em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  -webkit-border-radius: 1.125em;
  -moz-border-radius: 1.125em;
  -ms-border-radius: 1.125em;
  -o-border-radius: 1.125em;
  border-radius: 1.125em;
  background-color: #666666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#666666, #333333);
  background: -moz-linear-gradient(#666666, #333333);
  background: -o-linear-gradient(#666666, #333333);
  background: -ms-linear-gradient(#666666, #333333);
  background: linear-gradient(#666666, #333333);
  -webkit-box-shadow: #8c8c8c 0 1px 0 inset;
  -moz-box-shadow: #8c8c8c 0 1px 0 inset;
  box-shadow: #8c8c8c 0 1px 0 inset;
  border: 1px solid #262626;
  color: white;
  text-shadow: #141414 0 1px 0;
  line-height: 1.71428571em;
  margin: 0 0 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_extensions\/jhardy-Sassy-Buttons-8b3be35\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000328}}
button:hover, input[type=submit]:hover, input[type=button]:hover, .button:hover {
  background-color: #262626;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #595959), color-stop(100%, #262626));
  background: -webkit-linear-gradient(#595959, #262626);
  background: -moz-linear-gradient(#595959, #262626);
  background: -o-linear-gradient(#595959, #262626);
  background: -ms-linear-gradient(#595959, #262626);
  background: linear-gradient(#595959, #262626);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_extensions\/jhardy-Sassy-Buttons-8b3be35\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000331}}
button:active, input[type=submit]:active, input[type=button]:active, .button:active {
  -webkit-box-shadow: #1f1f1f 0 1px 2px inset;
  -moz-box-shadow: #1f1f1f 0 1px 2px inset;
  box-shadow: #1f1f1f 0 1px 2px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003112}}
button.large, input[type=submit].large, input[type=button].large, .button.large {
  font-size: 1.313em;
  line-height: 2.28571429em;
  margin-bottom: 1.04761905em;
  padding: 0 1em;
}

/* --Tabs -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003121}}
ul.tabs {
  *zoom: 1;
  margin-left: 0;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
ul.tabs:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003128}}
ul.tabs li {
  display: block;
  width: auto;
  padding: 0;
  float: left;
  margin-bottom: 0;
  height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003136}}
ul.tabs li a {
  display: block;
  text-decoration: none;
  outline: none;
  width: auto;
  padding: 0px 20px;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: -0.063em;
  border-left-style: solid;
  border-left-width: 0.063em;
  padding-left: -0.063em;
  margin: 0;
  background: #e6e6e6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003148}}
ul.tabs li a.active {
  background: #fff;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-right-style: solid;
  border-right-width: 0.063em;
  padding-right: -0.063em;
  margin: 0 -1px 0 0;
  *zoom: 1;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003160}}
ul.tabs li:first-child a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003163}}
ul.tabs li:last-child a {
  border-right-style: solid;
  border-right-width: 0.063em;
  padding-right: -0.063em;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003167}}
ul.tabs-content {
  position: relative;
  border-left-width: 1px;
  border-right-width: 1px;
  margin-left: 0;
  margin-bottom: 1.4375em;
  display: block;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
  -webkit-transition: all, 2s;
  -moz-transition: all, 2s;
  -ms-transition: all, 2s;
  -o-transition: all, 2s;
  transition: all, 2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003180}}
ul.tabs-content > li {
  display: none;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003184}}
ul.tabs-content > li.active {
  display: block;
}

/* --Accordion -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003188}}
.accordion {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
  border-left-width: 1px;
  border-right-width: 1px;
  margin: 0 0 1.4375em 0;
  padding: 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003196}}
.accordion li {
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003199}}
.accordion li header {
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 0.688em;
  padding-bottom: 0.75em;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003208}}
.accordion li header a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003211}}
.accordion li header:before {
  font-family: 'websymbols';
  vertical-align: top;
  content: ';';
  display: block;
  float: left;
  margin-right: 12px;
  height: 24px;
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003221}}
.accordion li header.active {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003224}}
.accordion li header.active:before {
  content: ':';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003228}}
.accordion .accordion-content {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003234}}
.accordion li:last-child .content {
  border-width: 1px;
}

/* --Toggle -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003239}}
details {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003243}}
details summary {
  border: 0 none;
  margin-bottom: 0;
  padding-left: 1em;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003250}}
details summary a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003254}}
details summary::-webkit-details-marker {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003257}}
details summary:before, details summary span {
  content: "+";
  vertical-align: top;
  display: block;
  float: left;
  margin-right: 12px;
  height: 24px;
  font-size: .8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003266}}
details[open] summary:before {
  content: "-";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003269}}
details .contents {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}

/* -- toggles not supported by browsers will be manipulated with jQuery -- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/_extras\.scss}line{font-family:\00003278}}
.no-details details summary:before, .no-details details[open] summary:before {
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000314}}
body {
  color: #202020;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000317}}
h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab", serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000320}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000323}}
#masthead .wrap {
  background: #202020;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000326}}
#access a {
  color: white;
  border-color: #393939;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000330}}
#access > ul > li > a {
  font-family: "museo-slab", serif;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000334}}
#access ul ul {
  background: #202020;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000336}}
#access ul ul li:not(:last-child) a {
  border-color: #2d2d2d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000341}}
#main article {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000344}}
#main article .entry-header {
  background: #202020;
  color: white;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000348}}
#main article .entry-header .post-time {
  background-color: transparent;
  background-color: rgba(32, 32, 32, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6202020,endColorstr=#E6202020);
  zoom: 1;
  font-family: "museo-slab", serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000351}}
#main article .entry-header .post-time a {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000357}}
#nav-below {
  background: #393939;
  text-shadow: black 0px 1px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000360}}
#nav-below a {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000364}}
#main article .entry-utility {
  background: #e7e7e7;
  color: #070707;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/X\/Projects\/APPS\/magazine\/sass\/skin\.scss}line{font-family:\0000367}}
#main article .entry-utility a {
  color: #505050;
}
